<!DOCTYPE html>
<html ng-app="employeeApp">
<head>
    <title>Employee Registration</title>
</head>
<body ng-controller="EmployeeController">
    <h1>Employee Registration Form</h1>
    <form name="registrationForm" novalidate>
        <label>Full Name:</label>
        <input type="text" ng-model="employee.fullName" name="fullName" required>

        <label>Date of Birth:</label>
        <input type="date" ng-model="employee.dob" name="dob" required max="{{ maxDOB | date:'yyyy-MM-dd' }}">

        <label>Joining Date:</label>
        <input type="date" ng-model="employee.joiningDate" name="joiningDate" required max="{{ maxJoiningDate | date:'yyyy-MM-dd' }}">

        <label>Salary:</label>
        <input type="number" ng-model="employee.salary" name="salary" required min="1" max="1000000">

        <button ng-click="submitForm()" ng-disabled="registrationForm.$invalid">Register</button>
    </form>

    <div ng-show="showCalculator">
        <h2>Simple Arithmetic Calculator</h2>
        <label>Number 1:</label>
        <input type="number" ng-model="num1">

        <label>Number 2:</label>
        <input type="number" ng-model="num2">

        <label>Operation:</label>
        <input type="radio" ng-model="operation" value="add">Add
        <input type="radio" ng-model="operation" value="subtract">Subtract
        <input type="radio" ng-model="operation" value="multiply">Multiply
        <input type="radio" ng-model="operation" value="divide">Divide

        <button ng-click="calculate()">Calculate</button>
        <p ng-if="result">Result: {{ result }}</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('employeeApp', [])
            .controller('EmployeeController', function ($scope) {
                $scope.employee = {};
                $scope.maxDOB = new Date();
                $scope.maxJoiningDate = new Date();

                $scope.submitForm = function () {
                    // Process the form data here, for example, send it to the server using $http.post()
                    // You can use the $scope.employee object to access the form data.
                    // This is where you can implement validation for DOB, Joining Date, and Salary.

                    alert("Employee registered successfully!");
                };

                $scope.showCalculator = false;
                $scope.calculate = function () {
                    switch ($scope.operation) {
                        case "add":
                            $scope.result = $scope.num1 + $scope.num2;
                            break;
                        case "subtract":
                            $scope.result = $scope.num1 - $scope.num2;
                            break;
                        case "multiply":
                            $scope.result = $scope.num1 * $scope.num2;
                            break;
                        case "divide":
                            $scope.result = $scope.num1 / $scope.num2;
                            break;
                        default:
                            $scope.result = null;
                            break;
                    }
                };
            });
    </script>
</body>
</html>
